In [1]:
import pandas as pd
import numpy as np

In [2]:
import tensorflow as tf
from tensorflow import keras

In [7]:
wheat=pd.read_csv("wheat.csv")

In [8]:
cotton=pd.read_csv("cotton.csv")

In [9]:
gram=pd.read_csv("gram.csv")

In [10]:
gram.head()

   Month  Year  Rainfall    WPI
0      4  2012      47.5  116.1
1      5  2012      31.7  127.5
2      6  2012     117.8  130.7
3      7  2012     250.2  143.7
4      8  2012     262.4  149.9

In [11]:
cotton.head()

   Month  Year  Rainfall    WPI
0      4  2012      47.5  101.2
1      5  2012      31.7  101.5
2      6  2012     117.8  102.5
3      7  2012     250.2  110.7
4      8  2012     262.4  115.0

In [12]:
wheat.head()

   Month  Year  Rainfall    WPI
0      4  2012      47.5  104.6
1      5  2012      31.7  105.4
2      6  2012     117.8  104.4
3      7  2012     250.2  105.8
4      8  2012     262.4  116.0

In [13]:
jute=pd.read_csv("Jute.csv")

In [14]:
maize=pd.read_csv("Maize.csv")

In [15]:
moong=pd.read_csv("Moong.csv")

In [16]:
coconut=pd.read_csv("Coconut.csv")

In [22]:
df_new=coconut.append(moong)

AttributeError: 'DataFrame' object has no attribute 'append'